################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GoogleApiTest/GoogleApiTest/obj
/GoogleApiTest/GoogleApiTest/bin/Debug/netcoreapp2.1
/GoogleApiTest/GooglePhotoWallpaperREST/bin/Debug/netcoreapp2.1
/GoogleApiTest/GooglePhotoWallpaperREST/obj
/GoogleApiTest/GooglePhotoWallpaperREST/creds.json
/.vs/googlephotowallpaper/v16
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/GoogleApiTest/.vs/GoogleApiTest/v16
/GoogleApiTest/GooglePhotoWallpaperGUI/obj/Debug
/GoogleApiTest/Wallpaper/bin/Debug/netstandard2.0
/GoogleApiTest/Wallpaper/obj
